API_ID=26177497
API_HASH=02ee993d1e3f8fa139f1345dea03da4a
BOT_TOKEN=7578948595:AAHCa_mOeGs8ZMJRJ6_dCXyHmCzN_CVesjU
MONGO_DB_URI=mongodb+srv://akashrajput010208:qy9qMomvLOpbegOP@cluster0.21upfwm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002768891334
OWNER_ID=7857346178
STRING_SESSION=BQGPb9kAC0nayLP5WkndhiFvAoqjCaQUyUvhoPcJAasTgRj75l97Y0UZtpYUbstBDegJFlP2NsK85ZERO_ug61MqW5GWyag30JuRZVkNltWe9DLdq6INo8s8bOL4-J_xyVAq6mBPLU0Jo3mWV8J90WNi2awi9F0Oe8avZvHS_Vyb1jBxpeQhy9AU9xMuNW4bxFDml_xLlHDhHSqtx-PTIeSKOur5WXRfL517dTi5O4KF4Dd0PBxpYRnbijD1gF1UdnNHRcPM-uHrWcgaZuE_caoSAeU3lwMYSjHMlbZuAjI-dpFXZEkLIbnqpKmnfZ0rD-n0sDRc_TxAUEyS4Xj2kycGA0BnpQAAAAHjSBHGAA